In [1]:
import pandas as pd
import numpy as np

rng = pd.date_range('2010-1-1', periods=1000, freq='D')
df = pd.DataFrame(np.random.randn((len(rng)),2), index=rng, columns=['A','B'])
df.head()

                   A         B
2010-01-01  1.995925 -0.589480
2010-01-02 -0.083464  1.152381
2010-01-03  1.922945  0.552413
2010-01-04  0.141032  0.447710
2010-01-05  0.193622  0.402072

In [2]:
startMM, startdd = (2,15)
endMM, enddd = (10,3)

In [3]:
month_day = pd.concat([
                df.index.to_series().dt.month, 
                df.index.to_series().dt.day
            ], axis=1).apply(tuple, axis=1)

In [5]:
df[(month_day >= (startMM, startdd)) & (month_day <= (endMM, enddd))]

                   A         B
2010-02-15  1.266076 -0.838661
2010-02-16  0.886017 -0.745161
2010-02-17  1.314219  1.110374
2010-02-18  0.737621 -0.335259
2010-02-19 -1.757413  1.035380
2010-02-20 -0.019604  1.781736
2010-02-21  0.921793  0.892535
2010-02-22  0.787858 -0.830532
2010-02-23 -0.764117  0.418648
2010-02-24  0.569150  1.480929
2010-02-25 -1.590139  0.638045
2010-02-26  0.016885 -1.164537
2010-02-27  1.485847 -0.065044
2010-02-28  1.416790  1.379449
2010-03-01  1.689633 -0.010839
2010-03-02 -0.704031  1.532877
2010-03-03  1.320245 -1.056254
2010-03-04  1.261820 -0.996315
2010-03-05 -1.145881  0.258045
2010-03-06 -0.858204  1.214023
2010-03-07 -0.614870 -1.239392
2010-03-08 -1.392257  1.517578
2010-03-09 -0.802243 -0.117630
2010-03-10 -0.679819 -1.185484
2010-03-11 -1.090274 -1.693066
2010-03-12 -1.229905  1.174040
2010-03-13 -0.196657  0.089190
2010-03-14 -0.234353  1.254660
2010-03-15 -0.632642 -0.383523
2010-03-16 -0.065303 -1.116520
...              ...       ...
2012-08-28  0.086671  1.875002
2012-08-29 -1.070432 -1.803995
2012-08-30  0.301000  0.500727
2012-08-31 -0.771364 -0.823487
2012-09-01 -1.357160  1.196318
2012-09-02  0.551790 -0.484831
2012-09-03  0.982437 -0.318308
2012-09-04 -0.113451  1.089209
2012-09-05  0.657230 -1.214263
2012-09-06 -2.366632  0.206315
2012-09-07 -0.876521 -0.565399
2012-09-08 -0.123409 -1.408672
2012-09-09 -0.708794 -1.754007
2012-09-10 -0.939888  1.507937
2012-09-11  0.242340  0.120999
2012-09-12  1.154697 -0.733365
2012-09-13 -1.720498  2.443862
2012-09-14  0.519929 -0.376316
2012-09-15 -0.074445 -0.729814
2012-09-16  0.569507  2.698367
2012-09-17  2.272133  0.601490
2012-09-18 -1.081999  1.729355
2012-09-19  0.656175 -0.172449
2012-09-20  0.156293 -1.238095
2012-09-21 -0.947556  0.094574
2012-09-22  3.069022 -2.417405
2012-09-23  0.398962  0.983006
2012-09-24 -0.298982  1.250597
2012-09-25 -0.367265  0.058574
2012-09-26 -0.671630 -0.639896

[687 rows x 2 columns]

In [31]:
subset = df[((df.index.month == startMM) & (startdd <= df.index.day) 
             | (df.index.month == endMM) & (df.index.day <= enddd))]

In [33]:
# groupy year en selecteer de max. Returned volle datums waar de max van dat jaar was 
idx = df.groupby([df.index.year])['A'].transform(max) == df['A']
df[idx]

                   A         B
2010-05-19  3.078411  0.140011
2011-11-07  2.669773 -0.979190
2012-04-09  2.879964  0.487017

In [34]:
# groupy year en selecteer de max. Returned volle datums waar de max van dat jaar was 
idx = df.groupby([df.index.year])['B'].transform(max) == df['B']
df[idx]

                   A         B
2010-06-02  0.308651  2.980664
2011-08-08 -1.117495  2.576191
2012-09-17 -2.190755  2.559163

In [37]:
# groupy year en selecteer de max. Returned volle datums waar de max van dat jaar was 
idx = df.groupby([df.index.year]).transform(max) == df
df[idx]

             A         B
2010-01-01 NaN       NaN
2010-01-02 NaN       NaN
2010-01-03 NaN       NaN
2010-01-04 NaN       NaN
2010-01-05 NaN       NaN
2010-01-06 NaN       NaN
2010-01-07 NaN       NaN
2010-01-08 NaN       NaN
2010-01-09 NaN       NaN
2010-01-10 NaN       NaN
2010-01-11 NaN       NaN
2010-01-12 NaN       NaN
2010-01-13 NaN       NaN
2010-01-14 NaN       NaN
2010-01-15 NaN       NaN
2010-01-16 NaN       NaN
2010-01-17 NaN       NaN
2010-01-18 NaN       NaN
2010-01-19 NaN       NaN
2010-01-20 NaN       NaN
2010-01-21 NaN       NaN
2010-01-22 NaN       NaN
2010-01-23 NaN       NaN
2010-01-24 NaN       NaN
2010-01-25 NaN       NaN
2010-01-26 NaN       NaN
2010-01-27 NaN       NaN
2010-01-28 NaN       NaN
2010-01-29 NaN       NaN
2010-01-30 NaN       NaN
...         ..       ...
2012-08-28 NaN       NaN
2012-08-29 NaN       NaN
2012-08-30 NaN       NaN
2012-08-31 NaN       NaN
2012-09-01 NaN       NaN
2012-09-02 NaN       NaN
2012-09-03 NaN       NaN
2012-09-04 NaN       NaN
2012-09-05 NaN       NaN
2012-09-06 NaN       NaN
2012-09-07 NaN       NaN
2012-09-08 NaN       NaN
2012-09-09 NaN       NaN
2012-09-10 NaN       NaN
2012-09-11 NaN       NaN
2012-09-12 NaN       NaN
2012-09-13 NaN       NaN
2012-09-14 NaN       NaN
2012-09-15 NaN       NaN
2012-09-16 NaN       NaN
2012-09-17 NaN  2.559163
2012-09-18 NaN       NaN
2012-09-19 NaN       NaN
2012-09-20 NaN       NaN
2012-09-21 NaN       NaN
2012-09-22 NaN       NaN
2012-09-23 NaN       NaN
2012-09-24 NaN       NaN
2012-09-25 NaN       NaN
2012-09-26 NaN       NaN

[1000 rows x 2 columns]