In [1]:
import hkvsobekpy as hkv
import geopandas as gpd

his_file = r'D:\jupyter notebooks\spelen\20171212_daniel4mattijn\CALCPNT.HIS'
shp_file = r'D:\jupyter notebooks\spelen\20171212_daniel4mattijn\Sbk_Conn_n.shp'

reflow = hkv.read_his.LeesMetadata(his_file)

locaties = reflow.KrijgLokaties()
tijdstappen = reflow.KrijgTijdstappen()
parameters = reflow.KrijgParameters()

In [2]:
gdf = gpd.read_file(shp_file)
gdf = gdf.rename(columns={'ID        ':'locations'})

In [3]:
#uitlezen resultaten uit HIS files
parameter = []
parameter.append(parameters[2])

In [4]:
df = reflow.MultiWaardenArary(
    gdf['locations'].iloc[0:100].values,
    parameters[2:4],
    startMMdd=(1,1),
    endMMdd=(12,31),
    jaarmax_as='none')

In [5]:
new_column_name = 'max'
#bepaal statistiek over alle punten.
df_stat = df.max() #bepaal max van alle locs
df_stat.name = new_column_name

df_stat_reset = df_stat.reset_index()
df_pivot = df_stat_reset.pivot(index='locations', columns='parameters', values=new_column_name)
df_pivot.head()

parameters  Time water on st.(s)  Water on st.mean (m)
locations
0-11R0031                    0.0                   0.0
0-11R0032                    0.0                   0.0
0-11R0033                    0.0                   0.0
0-11R0034                    0.0                   0.0
0-11R0035                    0.0                   0.0

In [10]:
#merge gdf met df_stat
#pd.merge(gdf, df_pivot, how='left', right_index=True, left_on='locations')
result = gdf.merge(df_pivot, left_on='locations', right_index=True)

In [11]:
result.head()

,locations,NAME,TYPE,PARENTID,USERID,X,Y,Z,COLOR,ZGroep,geometry,Time water on st.(s),Water on st.mean (m)
0,0-11R0031,,Flow - Manhole,SBK_CONNECTIONNODE,,140845.843,486511.290,-6.40,8388863.0,Z_Muziekwijk,POINT (140845.843 486511.29),0.0,0.0
1,0-11R0032,,Flow - Manhole,SBK_CONNECTIONNODE,,140816.806,486518.865,-6.00,8388863.0,Z_Muziekwijk,POINT (140816.806 486518.865),0.0,0.0
2,0-11R0033,,Flow - Manhole,SBK_CONNECTIONNODE,,140815.957,486515.732,-5.72,8388863.0,Z_Muziekwijk,POINT (140815.957 486515.732),0.0,0.0
3,0-11R0034,,Flow - Manhole,SBK_CONNECTIONNODE,,140757.998,486531.378,-5.72,8388863.0,Z_Muziekwijk,POINT (140757.998 486531.378),0.0,0.0
4,0-11R0035,,Flow - Manhole,SBK_CONNECTIONNODE,,140729.885,486538.836,-5.72,8388863.0,Z_Muziekwijk,POINT (140729.885 486538.836),0.0,0.0