In [1]:
# load packages

import numpy as np
import pandas as pd
import geopandas as gpd
import folium
import matplotlib.pyplot as plt
import branca

import ipywidgets as widgets
from ipywidgets import interact, interact_manual
from IPython.display import clear_output, display
from ipywidgets.embed import embed_minimal_html

from io import StringIO
from hkvportal.io.services import dataportal as hkvportal

#https://stackoverflow.com/questions/54629077/jupyter-how-can-i-interactively-select-series-to-plot-using-widgets-selectmulti

In [2]:
# location to save visualizations

dp = hkvportal()
dp.setDataservice(dataservice='https://dmws.hkvservices.nl/dataportal/')

dataservice is set. https://dmws.hkvservices.nl/dataportal/ will be used as portal

In [3]:
############## LOAD ALL THE DATA FROM THE EXCEL ##############

In [4]:
# load excel blokkendoos 

file_blokkendoos = "Copy of 190509 Blokkendoos 09 mei 2019 incl kolommen fasering.xlsx"
# de blokkendoos loopt eigenlijk E:JE
# usecols "E:G"
df = pd.read_excel(file_blokkendoos, sheet_name="Hydraulisch effect", usecols='E, CC, FS', skiprows=[0,1,3,4,5,6])

df.head(10)

   ma_r22-r26_dpr          Mp38  kl_maastricht.1
0          0.0000  0.000000e+00           0.0000
1          0.0000  0.000000e+00           0.0000
2          0.0000 -5.064083e-08          -0.2830
3          0.0000 -7.067497e-08          -0.4934
4          0.0000 -9.863487e-08          -0.5870
5          0.0000 -1.376560e-07          -0.6475
6         -0.0001 -1.921145e-07          -0.6122
7          0.0000 -2.681174e-07          -0.6510
8          0.0000 -3.741879e-07          -0.6644
9          0.0000 -5.222213e-07          -0.4772

In [19]:
# reindex df to get riverkilometer as index

rkm = np.arange(1, (len(df)+1))
df = df.reindex(rkm)

df.head(10)

    ma_r22-r26_dpr          Mp38  kl_maastricht.1
1           0.0000  0.000000e+00           0.0000
2           0.0000 -5.064083e-08          -0.2830
3           0.0000 -7.067497e-08          -0.4934
4           0.0000 -9.863487e-08          -0.5870
5           0.0000 -1.376560e-07          -0.6475
6          -0.0001 -1.921145e-07          -0.6122
7           0.0000 -2.681174e-07          -0.6510
8           0.0000 -3.741879e-07          -0.6644
9           0.0000 -5.222213e-07          -0.4772
10         -0.0001 -7.288186e-07          -0.6147

In [20]:
# load waterstands opgave

df_opgave = pd.read_excel(file_blokkendoos, sheet_name="WS_daling en controle", usecols="A:C", index_col=0)
# change NaN to 0
df_opgave.fillna(0, inplace=True)

df_opgave.head(10)

                 Opgave linkeroever  Opgave rechteroever
Rivierkilometer
1                          0.003125             0.236232
2                          0.000000             0.277719
3                          0.000000             0.000000
4                          0.000000             1.780000
5                          0.000000             0.980753
6                          0.000000             0.993786
7                          0.000000             0.000000
8                          0.000000             1.748560
9                          0.000000             1.680000
10                         0.000000             1.705634

In [21]:
# load maatregeltabel (not used in this script)

df_maatregel = pd.read_excel(file_blokkendoos, sheet_name="Maatregeltabel", usecols="A:E", index_col=0)

df_maatregel.head(10)

,Naam,Aard maatregel,KM van,Km tot
Code,,,,
ma_g6_a1,Afvoer via Lateraal kanaal (IVM),Groene rivier / retentie / Rivierkering,69,85
ma_arck_dpr,Arcen (DPR),Overig,120,124
maqs_gr35_a1,Arcen brouwerij (QS),Nevengeul / Hoogwatergeul,121,128.8
ma_barl_dpr,Baarlo (DPR),Overig,100,105
ma_d10_a1,Bokhovense overlaat-Heusden (IVM),Dijkverlegging,223,227.5
FHL5-II - AO,Booien-Veurzen zomerbedverbreding (links en re...,Zomerbedmaatregel,40,42
FHL5-I - AO,Booien-Veurzen zomerbedverbreding en oeververl...,Zomerbedmaatregel,39,42
mtwes11,Bosscherveld,Eiland,14.9,15.3
ma_lot_dpr,Broekhuizerweerd / Lottum (DPR),Overig,118,122
ma_br-a77_a1,Brug A77 (QS),Hydraulisch obstakel,151,151.5

In [22]:
# keep the rows that match the column names selected in dataframe df

df_maatregel = df_maatregel[(df_maatregel.index.isin(df.columns))]

df_maatregel.head()

,Naam,Aard maatregel,KM van,Km tot
Code,,,,
ma_r22-r26_dpr,Combinatie Retentiegebieden Kraaijenbergse pla...,Groene rivier / retentie / Rivierkering,171,182.7
Mp38,Roosteren - De Rug,"Weerdverlaging, kronkelwaard (open karakter), ...",51,54

In [23]:
# add column with point location of maatregel

df_maatregel['KM van'] = df_maatregel['KM van'].astype(float)
df_maatregel['Km tot'] = df_maatregel['Km tot'].astype(float)

df_maatregel['rkm'] = np.round(df_maatregel[['KM van','Km tot']].mean(axis=1))

df_maatregel.head(10)

### NOTE ###
# one of the rows has value '??' on columns 'KM van' and 'Km tot' -> .mean() does not work
# not all codes in maatregeltabel?

,Naam,Aard maatregel,KM van,Km tot,rkm
Code,,,,,
ma_r22-r26_dpr,Combinatie Retentiegebieden Kraaijenbergse pla...,Groene rivier / retentie / Rivierkering,171.0,182.7,177.0
Mp38,Roosteren - De Rug,"Weerdverlaging, kronkelwaard (open karakter), ...",51.0,54.0,52.0

In [24]:
############## LOAD SHAPEFILES ##############

In [25]:
# load shapefile with rivierkilometers 

file_shape_rkm = "Shapefiles\Rivierkilometer_punten.shp"

shape_rkm = gpd.read_file(file_shape_rkm)

shape_rkm.head()

,OBJECTID,MODELKILOM,KENMERK,KILOMETER,geometry
0,1,3.00_MA,01 MA 3.00,3.0,POINT (175908.0780999996 308044.0625)
1,2,4.00_MA,01 MA 4.00,4.0,POINT (176523.2655999996 308826.2813000008)
2,3,5.00_MA,01 MA 5.00,5.0,POINT (176932.3905999996 309729.625)
3,4,6.00_MA,01 MA 6.00,6.0,POINT (176913.8905999996 310727.7813000008)
4,5,7.00_MA,01 MA 7.00,7.0,POINT (176662.3280999996 311695.4063000008)

In [26]:
# adjustments to shapefile with riverkilometers

# change coordinates
shape_rkm.crs = {'init': 'epsg:28992'}
shape_rkm = shape_rkm.to_crs(epsg=4326)

# add columns with longitude and latitude
shape_rkm['lon'] = shape_rkm.geometry.x
shape_rkm['lat'] = shape_rkm.geometry.y

shape_rkm.head()

,OBJECTID,MODELKILOM,KENMERK,KILOMETER,geometry,lon,lat
0,1,3.00_MA,01 MA 3.00,3.0,POINT (5.683513785760614 50.76196164261695),5.683514,50.761962
1,2,4.00_MA,01 MA 4.00,4.0,POINT (5.692278482962064 50.7689700182123),5.692278,50.768970
2,3,5.00_MA,01 MA 5.00,5.0,POINT (5.698131901921862 50.77707438119675),5.698132,50.777074
3,4,6.00_MA,01 MA 6.00,6.0,POINT (5.697929702728999 50.78604716145404),5.697930,50.786047
4,5,7.00_MA,01 MA 7.00,7.0,POINT (5.694420275176656 50.79475434982996),5.694420,50.794754

In [27]:
# load shapefile with location river

file_shape_as = "Shapefiles\Rivieras.shp"

shape_as = gpd.read_file(file_shape_as)

shape_as.head()

,OBJECTID,VOLGORDE,KENMERK,Shape_Leng,geometry
0,1,0,None,0.144139,"LINESTRING (140350.2813000008 419186.3125, 140..."
1,2,0,None,10062.259695,"LINESTRING (138138.1719000004 418499.8125, 138..."
2,3,0,None,2382.861216,"LINESTRING (138138.1719000004 418499.8125, 138..."
3,4,0,None,1783.043140,LINESTRING (140350.1405999996 419186.343800000...
4,5,0,None,25323.597296,"LINESTRING (175996.3594000004 307114.9375, 175..."

In [28]:
# adjustments to shapefile with location river

# change coordinates
shape_as.crs = {'init': 'epsg:28992'}
shape_as = shape_as.to_crs(epsg=4326)

shape_as.head()

,OBJECTID,VOLGORDE,KENMERK,Shape_Leng,geometry
0,1,0,None,0.144139,LINESTRING (5.175002532833051 51.7611746400535...
1,2,0,None,10062.259695,LINESTRING (5.142993992118619 51.7549417987190...
2,3,0,None,2382.861216,LINESTRING (5.142993992118619 51.7549417987190...
3,4,0,None,1783.043140,LINESTRING (5.175000493501215 51.7611749177036...
4,5,0,None,25323.597296,LINESTRING (5.684711405724149 50.7536068470382...

In [29]:
# to json

shape_as_json = shape_as.to_json()

In [30]:
############## FIGURES ##############

In [31]:
# create basismap with folium 

m = folium.Map(
     location=[51.366, 5.678], 
     zoom_start=8,
     )  

# add river to map

def style_function(feature):
    return {
        'opacity': 1,
        'weight': 2, 
        'color': 'blue',
    }

folium.GeoJson(
    shape_as_json,
    style_function = style_function,
).add_to(m)

In [32]:
# Create colormap with branca

colors = ['blue', 'white', 'red']
vmin   = -200
vmax   = 200
colormap = branca.colormap.LinearColormap(colors, vmin=vmin, vmax=vmax).to_step(index=[-200, -100, -50, -5, 5, 50, 100, 200])

In [33]:
# list of maatregelen
codes = df.columns.values

In [34]:
# selector
selector = widgets.SelectMultiple(
    options=codes,
    rows=len(codes),
    description='Maatregelen',
    disabled=False)

# output
output = widgets.Output()

In [35]:
def multiplot(widg):
    choices = widg['new']
    data = df.loc[:, choices] if choices else df
    # sum of the impacts of the selected choices
    df_opgave['Waterstandseffect'] = data.sum(axis=1, skipna=True)
    # compute the effect of the selected choices
    df_opgave['Rest opgave links'] = df_opgave['Opgave linkeroever'] + df_opgave['Waterstandseffect']
    df_opgave['Rest opgave rechts'] = df_opgave['Opgave rechteroever'] + df_opgave['Waterstandseffect']
    output.clear_output(wait=True)
    with output:
        ### figure ###
        fig, ax = plt.subplots(figsize=(15,10))
        ax.plot([df_opgave.index[0], df_opgave.index[-1]], [0, 0], color='black')
        ax.plot(df_opgave['Waterstandseffect'], label='Waterstandseffect')
        ax.plot(df_opgave['Rest opgave links'], label='Resterende opgave linkeroever')
        ax.plot(df_opgave['Rest opgave rechts'], label='Resterende opgave rechteroever')
        ax.legend()
        ax.set_title('Resterende opgave en waterstandseffect')
        ax.set_xlabel('Rivierkilometer')
        ax.set_ylabel('Afstand [meter]')
        plt.show()
        ### map ###
        rkm = pd.merge(left=shape_rkm, right=df_opgave['Waterstandseffect'].to_frame(), left_on=['KILOMETER'], right_index=True)
        f = folium.map.FeatureGroup()
        for lat, lon, color in zip(rkm['lat'], rkm['lon'], rkm['Waterstandseffect']*100):
            f.add_child(
                folium.CircleMarker(
                    [lat, lon],
                    radius=4,
                    color=None,
                    fill_color=colormap(color) if not gpd.pd.isnull(color) else '#BEBEBE',
                    fill_opacity=1.0)
                )
        m.add_child(f)
        colormap.caption = 'Waterstandseffect [cm]'
        m.add_child(colormap)
        display(m)
        
selector.observe(multiplot, names='value')

In [36]:
# show selector and output
test = display(selector, output)

SelectMultiple(description='Maatregelen', options=('ma_r22-r26_dpr', 'Mp38', 'kl_maastricht.1'), rows=3, value…

Output()

In [37]:
test

In [96]:
# export visualizatie als een 'in-memory text stream'

export_html = StringIO()
test.save(export_html, format='html')

AttributeError: 'NoneType' object has no attribute 'save'

In [85]:
dp.setEntryDatabase(database='Blokkendoos', key='voorbeeld', 
                    data=export_html.getvalue(), 
                    description='Voorbeeld voor Blokkendoos Maas')

available at https://dmws.hkvservices.nl/dataportal/data.asmx/read2?database=Blokkendoos&key=voorbeeld&contentType=SET_BY_USER

{'exception': 'database does not exists'}

In [88]:
# cannot be synced
mylink = widgets.jslink((selector, 'value'), (output, 'value'))

TypeError: SelectMultiple.value cannot be synced